body {

    background-image: linear-gradient(#d6cffa, #f5caf0);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.row1 img {
    width: 100%;
}


.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 20px;
}

.row1 p {

    color: white;
    line-height: 1.5;
    grid-column: 1/2;

}



.row2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 35px;
}


.row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 20px;
}

.row4 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 35px;
}




.row5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 20px;
}

.row6 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 35px;
}




.row7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 20px;
}
