/*fælles style*/

/*Når man bruger box-sizing undgår man at skulle medregne border og padding. Boksens width og height medregner indhold, padding og border*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}



html {
    scroll-behavior: smooth;
}





a {
    color: #f57dab;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-style: normal;

}




a:hover {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-style: normal;

}



footer {
    color: #f2e0ff;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'helvetica';


}

#menuknap {
    display: none;
}

#menu {
    padding: 4rem 2rem 4rem 2rem;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}






/*forside css*/


.forsidebody {
    background-image: linear-gradient(#fff6c2, #ceeb97, #9ae08c);
}


.kirsebaerblomster {
    padding-left: 150px;
}

/*___________*/

/*portfolio css*/


.portfoliobody {
    background-image: linear-gradient(#f2e0ff, #ffc2c2);
}

#sections {
    padding: 0.5rem 2rem 3rem 2rem;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#sections a {
    color: #f57dab;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: DM Serif Display', serif;

}

p a {
    font-family: 'helvetica';
    font-size: 1rem;
}

p a:hover {
    color: white;
    font-family: 'helvetica';
    font-size
}



/*man skal kun lave grid-column: (1/2) på det første billede, så indordner de andre billeder sig/tager den plads der er givet via 1fr 1fr 1fr (de alle fylder lige meget grundet 1fr 1fr 1fr).

justify-content: space-between gør at der kommer lige meget mellemrum mellem  alle billederne


*/

#first_section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding-top: 23px;
}

#first_section h1 {
    grid-column: 1/3;
    color: #8969be;
    font-size: 1.5rem;
    font-family: 'helvetica';

}


#first_section h2 {
    grid-column: 1/4;
    color: #8969be;
    text-decoration: underline;
    font-size: 1.2rem;
    font-family: 'helvetica';

}

#first_section p {
    grid-column: 1/2;
    color: #8969be;
    line-height: 1.5;
    font-family: 'helvetica';
}


#first_section .img1 {
    grid-column: 1/2;
}

#first_section .computer {
    grid-column: 2/3;
    padding-left: 100px;
}

#second_section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 20px;
}

#second_section .img2 {
    grid-column: 1/2;
}

#second_section h1 {
    grid-column: 1/3;
    color: #8969be;
    font-size: 1.5rem;
    font-family: 'helvetica';
}


#second_section h2 {
    grid-column: 1/3;
    color: #8969be;
    font-size: 1.2rem;
    text-decoration: underline;
    font-family: 'helvetica';
    padding-top: 30px;

}

#second_section p {
    grid-column: 1/2;
    color: #8969be;
    line-height: 1.5;
    font-family: 'helvetica';
}


#second_section .tshirt {
    grid-column: 2/3;
    padding-left: 154px;
}




#third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 20px;
}

#third_section h1 {
    grid-column: 1/3;
    color: #8969be;
    font-size: 1.5rem;
    font-family: 'helvetica';
}


#third_section h2 {
    grid-column: 1/3;
    color: #8969be;
    font-size: 1.2rem;
    text-decoration: underline;
    font-family: 'helvetica';
    padding-top: 30px;


}

#third_section p {
    grid-column: 1/2;
    color: #8969be;
    line-height: 1.5;
    font-family: 'helvetica';
}

#third_section .img3 {
    grid-column: 1/2;
}


#third_section .gameboy {
    grid-column: 2/3;
    padding-left: 150px;
}

#fourth_section {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    grid-gap: 20px;
}

#fourth_section h1 {
    grid-column: 1/3;
    color: #8969be;
    font-size: 1.5rem;
    font-family: 'helvetica';
}


#fourth_section h2 {
    grid-column: 1/3;
    color: #8969be;
    font-size: 1.2rem;
    text-decoration: underline;
    font-family: 'helvetica';
    padding-top: 30px;

}

#fourth_section p {
    grid-column: 1/2;
    color: #8969be;
    line-height: 1.5;
    font-family: 'helvetica';
}

#fourth_section .img4 {
    grid-column: 1/2;
}


#fourth_section .kamera {
    grid-column: 2/3;
    padding-left: 150px;
}

/*__________*/

/*om mig css*/

.ommigbody {
    background-image: linear-gradient(#fdffc0, #e591bb);
}

#sectionwrapper_om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

}

#sectionwrapper_om_mig p {
    grid-column: 1/3;
    grid-row: 1/2;
    color: #8969be;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'helvetica';
    margin: 5px;
}

.lampe {
    grid-column: 3/4;
    grid-row: 1/2;
}

.skrift {
    grid-column: 1/3;
    grid-row: 2/3;
}


.vand {
    grid-column: 3/4;
    grid-row: 2/3;

}

.parasol {
    grid-column: 1/2;
    grid-row: 3/4;
}

.front {
    grid-column: 2/3;
    grid-row: 3/4;

}


.bil {
    grid-column: 3/4;
    grid-row: 3/4;
}


.sommerfugl {
    grid-column: 1/3;
    grid-row: 4/5;
}

.blomster {
    grid-column: 3/4;
    grid-row: 4/5;
}


.mig {
    grid-column: 1/2;
    grid-row: 5/6;
}

.blomst {
    grid-column: 2/3;
    grid-row: 5/6;
}


.bog {
    grid-column: 3/4;
    grid-row: 5/6;
}

.blomstermark {
    grid-column: 2/4;
    grid-row: 6/7;
}

.pandekager {
    grid-column: 1/3;
    grid-row: 6/7;
}

.blaaregn {
    grid-column: 1/2;
    grid-row: 7/8;
}

.spil {
    grid-column: 2/3;
    grid-row: 7/8;
}

.is {
    grid-column: 3/4;
    grid-row: 7/8;
}

/*_____________________*/




/*Alt på mobile*/

@media (max-width: 600px) {

    /*Burgermenu*/

    #sectionwrapper_om_mig {
        display: block;

    }

    nav {
        position: absolute;
        z-index: 1;
        margin-top: 0;
        width: 100%;
        background-color: pink;
    }



    #menuknap {
        display: inline-block;
        color: white;
        z-index: 2;
        font-size: 1.5rem;
        position: absolute;
        top: 2vh;
        left: 5vw;
    }



    #menu {
        display: inline-block;
        top: 1rem;
        left: 28vw;
    }



    #sections {
        display: block;
        position: relative;
        top: -51px;

    }


    ul {
        line-height: 300%;
    }




    #first_section,
    #second_section,
    #third_section,
    #fourth_section {
        display: grid;
        grid-template-columns: 1fr;

    }




    .kamera,
    .gameboy,
    .tshirt,
    .computer,
    .portfoliobody img {
        display: none;
    }



    .overskrift {
        padding-top: 83px;
    }



    .sommerfugl,
    .skrift,
    .blomstermark {
        display: none;
    }





    /*Classes til brug i js*/

    .hidden {
        opacity: 0;
        transform: translateX(-100%);
    }
